.Button {
  padding: 10px;
  background-color: dodgerblue;
  color: aliceblue;
  display: inline;
  outline: none;
  font-size: 16px;
  border: none; }
  .Button :hover {
    cursor: pointer; }
  .Button :focus {
    box-shadow: 0 0 2px 2px deepskyblue; }
